@tailwind base;
@tailwind components;
@tailwind utilities;
*{
  font-family: "Roboto Mono";
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
html{
  overflow-x: hidden;
  width: 100vw;
}
#root{
  width: 100%;
  min-height: 90vh;
}
.listActive {
  background-color: #4a5568; /* Cambia este color al que prefieras */
  color: white; /* Color del texto para la categoría activa */
  font-weight: bold; /* Hace el texto más destacado */
}